/* Setting the background color of the body to black */
body {
    background-color: black;
}

/* Changing the color of navbar links on hover to red */
.navbar-nav .nav-link:hover {
    color: red;
}

/* Styling for the search input area */
#searchInput {
    width: 300px;
}

/* Styling for the main content container */
#contentContainer {
    display: flex;
    flex-wrap: wrap;
}

/* Styling for individual cards */
.card {
    width: 259px;
    height: 350;
    margin: 10px;
    text-align: center;
    border: 5px solid rgb(56, 56, 58);
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    box-shadow: 4px 4px 4px 4px rgba(169, 163, 163, 0.2);
}

/* Styling for character images */
#characterImage {
    height: 250px;
    width: 100%;
}

/* Styling for character names */
#characterName {
    text-shadow: 1px 1px 6px cadetblue;
    color: cadetblue;
}

/* Styling for buttons */
#detailsButton,
.favoritesButton {
    margin-bottom: 5px;
    height: 40px;
    width: 220px;
}

/* Styling for heading */
h5 {
    margin-top: 20px;
}

/* Styling for card titles */
.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

/* Styling for not found message */
.notFound {
    margin: auto;
    color: white;
    align-items: center;
    height: 75vh;
    display: flex;
    justify-content: center;
}

/* Style for card hover */
.card:hover {
    transform: scale(1.04);
}